/*
Author: Elaiah S. Asperin
Created: 24 December 2021
Last Modified: 28 December 2021
Description: Content stylsheet for "AI: The Inner Workings"
*/


/* ========================================================================= */


/* General Styles */

.content {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    padding: 3rem;

    position: relative;
}

.content article {
    text-align: justify;
    padding: 1rem;
}

.content figure {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;

    width: 100%;
    height: 100%;
}

.content img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;

    border-radius: 1rem;
}


/* ========================================================================= */


/* Media Queries */

@media only screen and (max-width: 532px) {
    .content {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 1rem;
    }
}
