/*
Author: Elaiah S. Asperin
Created: 21 December 2021
Last Modified: 24 December 2021
Description: Footer stylesheet for "AI: The Inner Workings"
*/


/* ========================================================================= */


/* General Styles */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(7, 30, 61);

    box-sizing: border-box;
    width: 100%;
    height: auto;

    padding: 30px;
    margin-top: 40px;
}

footer h3 {
    margin: 0px 0px 10px 0px;
    float: left;
}

footer p {
    margin: 0px;
    clear: both;
}

footer img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}


/* ========================================================================= */


/* Media Queries */

/* For extremely small screens */
@media only screen and (max-width: 480px) {
    footer img {
        display: none;
    }
}
