/*
Author: Elaiah S. Asperin
Created: 17 January 2021
Last Modified: 20 January 2021
Description: Content stylsheet for the myths page "AI: The Inner Workings"
*/


/* ========================================================================= */


/* General Styles */

.content q {
    display: block;
    text-align: center;
    font-size: 1.125rem;
}

.content q::before, .content q::after {
    display: block;
    text-align: center;
    font-size: 1.125rem;
}

.content q::after {
    margin-bottom: 1rem;
}

.content .answer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;

    border: 0.25rem solid red;
    border-radius: 1rem;
    padding: 0.25rem;

    position: relative;
}

.content .answer.true {
    background: #062d34;
    border: 0.25rem solid green;
}

.content .answer.false {
    background: #2c1a34;
    border: 0.25rem solid red;
}

.content .answer p {
    font-size: 2rem;
}

.content .answer.true p {
    color: hsl(120, 100%, 40%);
    text-shadow: 0px 0px 10px green;
}

.content .answer.false p {
    color: red;
    text-shadow: 0px 0px 10px red;
}
