/*
Author: Elaiah S. Asperin
Created: 21 December 2021
Last Modified: 29 December 2021
Description: Navigation bar stylesheet for "AI: The Inner Workings"
*/


/* ========================================================================= */


/* General Styles */

#navbar {
    overflow: hidden;
    transition: width 600ms;
    
    background-color: var(--bg-secondary);

    position: fixed;
    z-index: 3;
}
  
#navbar > ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;

    height: 100%;

    padding: 0;
    margin: 0;
}

#navbar + div {
    background-color: rgba(0, 0, 0, 0.5);

    /* Initially set to 0 to create the "expanding dark area" effect when the
    transition is applied after a change in width */
    width: 0px;
    height: 100vh;

    position: fixed;
    z-index: 2;

    transition: var(--transition-speed);
}


/* ========================================================================= */


/* Navigation Bar Icon Styles*/

#navbar-icon {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3ch;

    display: flex;
    align-items: center;

    background: var(--bg-primary);
    width: 100%;
    height: 5rem;

    padding-left: 2rem;
    margin-bottom: 1rem;
}
  
#navbar-icon img {
    width: 3rem;
    height: 3rem;

    transform: rotate(0deg);
    transition: var(--transition-speed);
}

#navbar-icon span {
    display: inline;

    color: var(--text-primary);

    width: calc(20rem - 80px);

    position: absolute;
    left: -999px;

    transition: var(--transition-speed);
}
  
#navbar:hover #navbar-icon img {
    transform: rotate(-180deg);
    transition: var(--transition-speed);
}


/* ========================================================================= */


/* Navigation Bar Item Styles */

.navbar-item {
    width: 100%;
}

.navbar-item:last-child {
    /* Forces the last navigation bar element to the bottom */
    margin-top: auto;
}
  
.navbar-item a {
    display: flex;
    align-items: center;

    color: var(--text-secondary);
    text-decoration: none;

    height: 5rem;

    transition: var(--transition-speed);
}

.navbar-item img {
    width: 2.5rem;
    height: 2.5rem;

    margin: 0 1.25rem;
    border-radius: 50%;
}
  
.navbar-item a:hover {
    background: var(--bg-primary);
    color: var(--text-primary);
}
  
.navbar-link-text {
    display: none;
    margin-left: 1rem;
}


/* ========================================================================= */


/* Media Queries */

/* For large screens */
@media only screen and (min-width: 641px) and (min-height: 577px) {
    /* Positions the navbar at the left side of the site */
    #navbar {
        width: 5rem;
        height: 100%;
        top: 0;
    }

    /* Darkens the area the navigation bar does not cover */
    #navbar:hover + div {
        width: 100vw;
    }

    /* Makes the rest of the elements unclickable when the navigation bar
    expands */
    #navbar:hover ~ * {
        pointer-events: none;
    }

    /* Expands the navbar when the user hovers over it */
    #navbar:hover {
        width: 20rem;
    }

    /* Makes the title of the site appear after the arrows at the top of the
    navbar */
    #navbar:hover #navbar-icon span {
        left: 80px;
    }

    /* Makes the link text visible when the user hovers over the navbar */
    #navbar:hover .navbar-link-text {
        display: inline;
    }
}

/* For small screens */
@media only screen and (max-width: 640px) {
    /* Positions the navbar at the bottom of the site */
    #navbar {
        width: 100vw;
        height: 5rem;
        bottom: 0;
    }

    /* Removes the arrows at the top of the navbar */
    #navbar-icon {
        display: none;
    }

    /* Arranges the elements in the navbar as a row */
    #navbar > ul {
        flex-direction: row;
    }

    /* Removes the top margin of the last link */
    .navbar-item:last-child {
        margin-top: 0px;
    }

    /* Aligns the navbar links to the center of their containers */
    .navbar-item a {
        justify-content: center;
    }
}

/* For extremely small screens */
@media only screen and (max-width: 480px) {
    /* Positions the navbar at the bottom of the site */
    #navbar {
        width: 100vw;
        height: 3rem;
        bottom: 0;
    }

    /* Shrinks each item on the navigation bar and aligns them to the center */
    .navbar-item {
        height: 3rem;
        align-items: center;
    }

    /* Shrinks each link on the navigation bar */
    .navbar-item a {
        height: 3rem;
    }

    /* Shrinks each icon on the navigation bar */
    .navbar-item img {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.75rem;
    }
}

/* For short screens */
@media only screen and (max-height: 576px) {
    /* Positions the navbar at the bottom of the site */
    #navbar {
        width: 100vw;
        height: 3rem;
        bottom: 0;
    }

    /* Removes the arrows at the top of the navbar */
    #navbar-icon {
        display: none;
    }

    /* Arranges the elements in the navbar as a row */
    #navbar > ul {
        flex-direction: row;
    }

    /* Shrinks each item on the navigation bar and aligns them to the center */
    .navbar-item {
        height: 3rem;
        align-items: center;
    }

    /* Removes the top margin of the last link */
    .navbar-item:last-child {
        margin-top: 0px;
    }

    /* Shrinks each link on the navigation bar and center-aligns them */
    .navbar-item a {
        height: 3rem;
        justify-content: center;
    }

    /* Shrinks each icon on the navigation bar */
    .navbar-item img {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.75rem;
    }
}
