/*
Author: Elaiah S. Asperin
Created: 21 December 2021
Last Modified: 16 January 2022
Description: Title section stylesheet for "AI: The Inner Workings"
*/


/* ========================================================================= */


/* General Styles */

#page-header {
    background: url("../images/background.jpg") no-repeat center center;
    background-size: cover;

    width: 100%;
    min-height: 32rem;

    position: relative;
}

#page-header h1 {
    text-align: center;
    font-size: 6rem;

    margin: 0px;
    padding: 3rem 1rem 0px 1rem;
}

#page-header h2 {
    text-align: center;
    font-size: 3rem;

    margin: 0px;
    padding: 0px 1rem 3rem 1rem;
}


/* ========================================================================= */


/* Media Queries */

/* For small screens */
@media only screen and (max-width: 640px) {
    #page-header {
        min-height: 26rem;
    }

    #page-header h1 {
        text-align: left;
        font-size: 4.5rem;
    }
    
    #page-header h2 {
        text-align: left;
        font-size: 2.25rem;
    }
}

/* For extremely small screens */
@media only screen and (max-width: 480px) {
    #page-header {
        min-height: 20rem;
    }

    #page-header h1 {
        text-align: left;
        font-size: 3rem;
    }
    
    #page-header h2 {
        text-align: left;
        font-size: 1.5rem;
    }
}
